.button {
  display: flex;
  background-color: var(--first-color);
  width: 100px;
  height: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: var(--container-color);
  border-radius: .5rem;
  margin: .15rem;
}

.button:hover {
    background-color: var(--first-color-alt);
}
