

.title__container {
    width: 100%;   
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.title {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    justify-self: center !important;
    text-align: center;
}


.icon__alfa {
    text-align: center;
}


.icon__dimension {
    text-align: center;

}