
.statebar__container {
    width: 100%;
    background-color: white;
    border: 3px solid;
    border-radius: .3rem;
    margin-bottom: .7rem;
    text-align: center;
    padding: .3rem;
    text-decoration: none;
    cursor: pointer;
}

.text {
    color: var(--text-color);
    font-weight: var(--font-medium);
    font-size: var(--h2-font-size);
}

.text::first-letter {
    text-transform: capitalize;
}